@{
    ViewData["Title"] = "BookingList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/js/signalr-booking.js"></script>


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Rezervasyon Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Rezervasyon ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ad</th>
                                    <th>Telefon</th>
                                    <th>Kişi Sayısı</th>
                                    <th>Email</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody id="bookingList">
                            </tbody>

                        </table>
                        <a href="/Booking/CreateBooking" class="btn btn-outline-primary mb-3">Yeni Rezervasyon Girişi</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        BookingHub.init("@ViewBag.HubUrl");
    });
</script>
