@model List<ResultMenuTableViewModel>

@{
    ViewData["Title"] = "TableListByStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/js/signalr-menutable.js"></script>

<div class="content">
    <div class="container-fluid">

        <h4 class="page-title">Anlık Masa Durumları Sayfası</h4>

        <div class="row" id="menuTableContainer">
            @foreach (var item in Model)
            {
                string color = item.Status ? "card-success" : "card-danger";
                string status = item.Status ? "Masa Dolu" : "Masa Boş";

                <div class="col-md-3">
                    <div class="card card-stats @color">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-certificate"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">@item.Name</p>
                                        <h4 class="card-title">@status</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        MenuTableStatusHub.init("@ViewBag.HubUrl");
    });
</script>