@model SliderViewModel
@{
	ViewData["Title"] = "CreateSlider";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form asp-action="CreateSlider" method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Öne Çıkan Alan Bilgisi Ekleme Sayfası</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<Label for="Title1">1.Başlığı Giriniz</label>
								<input type="text" class="form-control" asp-for="Title1">
								<span asp-validation-for="Title1" class="text-danger"></span>
							</div>
							<div class="form-group">
								<Label for="Title2">2.Başlığı Giriniz</label>
								<input type="text" class="form-control" asp-for="Title2">
								<span asp-validation-for="Title2" class="text-danger"></span>
							</div>
							<div class="form-group">
								<Label for="Title3">3.Başlığı Giriniz</label>
								<input type="text" class="form-control" asp-for="Title3">
								<span asp-validation-for="Title3" class="text-danger"></span>
							</div>
							<div class="form-group">
								<Label for="Description1">1.Açıklamayı Giriniz</label>
								<textarea rows="5" class="form-control" asp-for="Description1"></textarea>
								<span asp-validation-for="Description1" class="text-danger"></span>
							</div>
							<div class="form-group">
								<Label for="Description2">2.Açıklamayı Giriniz</label>
								<textarea rows="5" class="form-control" asp-for="Description2"></textarea>
								<span asp-validation-for="Description2" class="text-danger"></span>
							</div>
							<div class="form-group">
								<Label for="Description3">3.Açıklamayı Giriniz</label>
								<textarea rows="5" class="form-control" asp-for="Description3"></textarea>
								<span asp-validation-for="Description3" class="text-danger"></span>
							</div>
						</div>
						<div class="card-action">
							<button type="submit" class="btn btn-primary">Öne Çıkan Alan Bilgisi Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>